.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252321;
  color: #fff;
  padding: 0 32px;
  height: 73px;
  transition: background 0.4s ease;
}
.navbar__brand {
  font-family: 'Italiana';
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.08em;
  font-weight: 400;
  margin-left: 35px;
}
.navbar__links {
  color: #bca892;
  font-size: 16px;
  font-weight: 300;    
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.navbar__links a {
  color: #fff;
  font-weight: 100; 
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}
.navbar__links a:hover {
  text-decoration: none;
  color: #c3977e;

}
.navbar__lang {
  background: #252321;
  color: #fff;
  border: none;
  font-size: 16px;
  margin-right: 12px;
  outline: none;
  cursor: pointer;
}
.navbar__auth {
  border-left: 1px solid #444;
  margin-left: 2px;     
  padding-left: 6px;     
  color: #fff;
  text-decoration: none;
  padding-right: 0px;  
  padding-top: 2px;     
  padding-bottom: 2px;
  font-weight: 500;
  transition: background 0.2s;
}
.navbar__register {  
  color: #fff;
  text-decoration: none;
  padding: 2px 1px;
  font-weight: 500;
  transition: background 0.2s;
}


